{% extends "master.html" %}

{% block title %}
Garáž
{% endblock %}


{% block content %}
<h1 class="bg-dark text-primary text-center m-0">Moje garáž</h1>
<p class="text-white bg-dark text-center p-0">Moje garáž je malá, ale útulná místnost, která slouží jako multifunkční prostor. Na jedné straně stojí moje auto,
    pečlivě zaparkované, zatímco na druhé straně mám pracovní stůl s nářadím a policemi plnými různých kutilských
    potřeb. Na stěnách visí různé nářadí, jako jsou klíče, šroubováky a kleště, vše přehledně uspořádané, aby bylo
    snadno dostupné. Vedle nich jsou vystavené součástky z aut a motorek, jako jsou karburátory, brzdové kotouče a
    výfukové potrubí.

    V rohu mám staré křeslo, kde si často sedám a přemýšlím o nových projektech. Na polici nad ním mám modely motorek a
    aut, které jsem v průběhu let nasbíral. Na zemi je rohožka s logem Aprilia. Navzdory omezenému
    prostoru se v garáži vždy najde místo pro nové nápady a kreativní činnosti. Je to můj osobní koutek, kde můžu
    relaxovat a věnovat se svým zálibám, ať už jde o opravy nebo tvorbu nových mechanických vynálezů.</p>
{% endblock %}