{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.vyrobce }} {{ mymember.jmeno }}
{% endblock %}


{% block content %}
  <h1 class="bg-dark text-white m-0">{{ ridici.firstname }} {{ ridici.lastname }}</h1>
  <p class="bg-dark text-white m-0">Datum narozeni: {{ridici.datum_narozeni}}</p>
  <p class="bg-dark text-white m-0">Telefon: +420 {{ridici.telefon}}</p>
  <p class="bg-dark text-white m-0">Pojišťovna: {{ridici.pojistovna}}</p>
  <p class="bg-dark text-white m-0">Vozidla: </p>
  <p class="bg-dark text-white m-0">{% for vozidlo in ridici.vozidlo.all %}
    <a href="{% url 'vozidlo' vozidlo.id %}">{{ vozidlo.vyrobce }} {{ vozidlo.jmeno }}</a>
          {% if not forloop.last %}<br>{% endif %}
         {% endfor %}
  </p>


{% endblock %}